/* ALL------------------------------------------------------------------------------- */
html {
	box-sizing: border-box;
	font-family: Arial,Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	/* background-color: #05668d; */
	
	/* background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(2, 128, 144), rgb(5, 102, 141));
    background-size: 10px 10px, 10px 10px, 10px 5px;
	background-position: 0px 0px, 5px 5px, 0px 0px; */
	
	background-image: url('../img/bgImg2.webp');
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

/* HEADER --------------------------------------------------------------------------- */
header{
	border-bottom: black 5px solid;
	background-color:rgba(241, 214, 184, 0.96);
	border-radius: 0 0 10px 10px;
}

header a{
	color: #028090;
}

#headerSpan{
	font-size: 2rem;
}
/* Main ----------------------------------------------------------------------------- */
#mainContent{
	margin-left: 5%;
	margin-right: 5%;
}

#mainContent p{
	font-weight: 500;
}

#result{
	display:flex;
}

.cardManipulate{
	border-radius: 15px;
	background-color:rgba(241, 214, 184, 0.9);
}

.imgStyle{
	width: auto;
	height:150px;
	border-radius: 15px;
}


/* Footer --------------------------------------------------------------------------- */
footer{
	position: relative;
	bottom: 0;
	border-top: black 5px solid;
	background-color:rgba(241, 214, 184, 0.90);
	border-radius: 10px 10px 0 0;
}

footer h3{
	color: #028090;
	font-weight: 400;
}




/* Media Query for Small Screens */
@media (min-width: 0px) and (max-width: 767.98px) {
	.imgStyle{
		display: none;
	}
}
