/* ALL------------------------------------------------------------------------------- */
html {
	box-sizing: border-box;
	font-family: Arial,Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	background-image: url('../img/bgImg2.webp');
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

/* HEADER --------------------------------------------------------------------------- */
header{
	border-bottom: black 5px solid;
	background-color:rgba(252, 239, 207, 0.96);
	border-radius: 0 0 10px 10px;
}

header a{
	color: #028090;
	font-weight: 500;
}

#headerSpan{
	font-size: 2rem;
}
/* Main ----------------------------------------------------------------------------- */
#mainContent{
	margin-left: 5%;
	margin-right: 5%;
}

#mainContent p{
	font-weight: 500;
}

#result{
	display:flex;
}

.cardManipulate{
	border-radius: 15px;
	background-color:rgba(252, 239, 207, 0.9);
}

.imgStyle{
	width: auto;
	height:150px;
	border-radius: 15px;
}


/* Footer --------------------------------------------------------------------------- */
footer{
	position: relative;
	bottom: 0;
	border-top: black 5px solid;
	background-color:rgba(252, 239, 207, 0.90);
	border-radius: 10px 10px 0 0;
}

footer h3{
	color: #028090;
	font-weight: 500;
}







/* Media Query for Small Screens -----------------------------------------------------*/
@media (min-width: 0px) and (max-width: 767.98px) {
	.imgStyle{
		display: none;
	}
}
